<!DOCTYPE html>
<html>
  <head>
     <link rel='stylesheet' href='/css/style.css'/>
  </head>
  <body>
    <form action="/users" method="POST">
      <label for="nombre"> Usuário</label>
      <input name="userName" type="text">
      <label for="nombre"> Apellido</label>
      <input name="fullName" type="text">

      <input type="submit" name="ENVIAR">
    </form>

  </body>
</html>
