<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/style.css'/>
    <title>Links App</title>
</head>
<body>
    <div class="container p-4">
        <div class="mb-3 row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form action="/links/add" method="POST">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">Title:</label>
                                <input type="text" class="form-control" name="title" placeholder="Title" autofocus>
                            </div>
                        
                        <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">URL:</label>
                                <input type="url" class="form-control" name="url" placeholder="URL">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Description:</label>
                                <textarea name="description" rows="2" class="form-control" placeholder="Descriptions"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block save">SAVE</button>
                        </div>
                    </form>
                    </div>

                </div>
            </div>
          </div>
    </div>

    
</body>
</html>